$width-sm: 430px;
$width-lg: 1024px;
$width-xl: 1920px;

$color-yellow: #FFC543;
$color-orange: #FF8412;
$color-violet: #4834D4;
$color-light-violet: #686DE0;
$color-popup-bg1: #4936D4;
$color-popup-bg-2: #6835D4;
$color-footer-gradient: #E5F1FB;
$color-active-link: #4835D4;
$color-white: #FFFFFF;
$color-text: #1E1E2E;
$color-user-icon: #D9D9D9;
$color-logo: #4D6AE4;
$color-link: #86BFEB;
